.c-button__container{
  margin-top: 36px;
}

.c-button{
  display: block;
  border: 1px solid $color-button;
  color: $color-button;
  text-decoration: none;
  padding: 8px 16px;
  position: relative;
  width: 100%;
  font-weight: bold;
  text-align: center;
  margin-bottom: 16px;

  &:hover{
    color: #fff;
    background: $color-button;
  }
}

/* 768px以上は横並び */
@media (min-width: 768px){
  .c-button__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .c-button{
    width: 48%;
  }
}