.p-banner{
  a:first-child{
    margin-bottom: 16px;
    display: block;
  }
}

@media (min-width: 768px){
  .p-banner{
    display: flex;
    justify-content: space-between;

    a{
      width: 48%;
    }
  }
}