.p-feature{

  img{
    object-fit: cover;
    margin-bottom: 4px;
    height: 220px;
    width: 100%;
  }

  figcaption{
    text-align: center;
    margin-bottom: 16px;
    width: 88%;
    font-size: 14px;
  }
}

/* 768px以上は横並び */
@media (min-width: 768px){
  .p-feature{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
    figure{
      width: 33%;
    }

    img{
      width: 300px;
    }

    /* 擬似要素追加で左寄せに */
    &:after{
      content: "";
      display: block;
      width: 300px;
    }
  }
}