.p-song{
  text-align: center;

  video{
    width: 100%;
    max-width: 640px;
  }
}

.p-song__meta{
  font-size: 14px;
  text-align: right;
  margin-bottom: 24px;
}

.p-song__item{
  margin-bottom: 40px;

  p{
    margin-bottom: 8px;
  }
}

.p-song__date{
  font-size: 14px;
}

@media (min-width: 768px){

  .p-song{
    display: flex;
    align-items: flex-start;

    video{
      width: 45%;
    }

    .p-song__lyric{
      width: 55%;
    }
  }

  .p-song__meta{
    display: flex;
    justify-content: center;

    p:nth-child(2){
      padding: 0 32px;
    }
  }
}