.p-topLink{
  @media (min-width: 768px){
    display: flex;
    justify-content: space-between;
  }
}

.p-topLink__item{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  padding: 28px 20px;

  @media (min-width: 768px){
    width: 33%;
  }

  h2{
    text-align: center;
    line-height: 1.5;
    font-size: 20px;
    margin-top: 8px;
  }

  &:not(:last-child){
    margin-bottom: 12px;
  }

  @media (min-width: 768px){
    height: 250px;
  }
}

.p-topLink__icon{
  margin: 0 auto;

  @media (min-width: 768px){
    height: 90px;
  }
}

.-facebook{
  background: #3B5998;
}

.-weibo{
  background: #E32529;
}

.-jblog{
  background: #2A6319;
}

.-eblog{
  background: #EB4869;
}

.-course{
  background: #DCB30C;

  h2{
    margin-bottom: 8px;
  }
}

.-private{
  border: 1px solid #DCB30C;
  color: #DCB30C;

  h2{
    margin-bottom: 8px;
  }
}