.l-inner{
  max-width: 1200px;
  padding-right: 6%;
  padding-left: 6%;
  margin: 0 auto;
}

.l-bg{
  width: 55%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: #eff3f9;
  z-index: -1;
}