

/*================================
	色設定
=================================*/
$color-main: #0C3B82;
$color-sub: #f0f9f7;
$color-accent: #DCB30C;
$color-button: #337ab7;

/*================================
	全体共通
=================================*/
body{
  font-family: '游ゴシック体', 'Yu Gothic', YuGothic, sans-serif; 
  font-weight: 500;
  color: #333;
  line-height: 1.75;
}

.vietnam{
  font-family: 'Arial';
}

main{
  position: relative;
}

a{
  color: inherit;
  cursor:pointer;
  text-decoration: none;

  &:hover{
    opacity: .8;
  }
}

li{
  list-style: none;
}

img + img{
  margin-top: 24px;
}
